{% extends "::base.html.twig" %}

{% block title %}Simples Blog{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            {{ knp_pagination_render(pagination) }}

            <div class="col-lg-12">

                {% for post in pagination %}

                <article class="col-lg-4">

                    <div class="thumbnail">

                        <a href="{{ path('show', { 'id': post.id }) }}">

                            <img class="img-responsive" src="{{ asset(post.getCoverWeb) }}" alt="{{ post.cover }}" title="{{ post.cover }}"/>

                        </a>

                        <div class="caption">

                            <h3><a href="{{ path('show', { 'id': post.id }) }}">{{ post.title }}</a></h3>

                            <p>Escrito por: {{ post.author.name }}</p>

                            <p>{{ post.content|slice(0, 45) }} ...</p>

                            <p><a href="{{ path('show', { 'id': post.id }) }}">Leia mais...</a></p>

                        </div>

                    </div>

                </article>

            {% endfor %}

        </div>

    </div>

        {{ knp_pagination_render(pagination) }}

    </div>

{% endblock %}
